<div class="family">
    <h1 class="family-hd">开设课程</h1>
</div>
<div class="course-tool-bar clearfix">
    <div class="tool-left l">
        <a href="#" class="sort-item active">日常英语</a>
        <a href="#" class="sort-item ">职场英语</a>
        <a href="#" class="sort-item ">托福雅思</a>
    </div>
    <div class="tool-right r">
        <div class="tool-all">
            <span id="js-columall" class="tool-item"><strong>全部</strong>
            </span>

        </div>
        <span class="tool-item total-num">
            共<b>1</b>个课程
        </span>
        <span class="tool-item tool-pager">
            <span class="pager-num">
                <b class="pager-cur">1</b>/<em class="pager-total">1</em>
            </span>
            <a href="#" class="pager-action pager-prev hide-text disabled">上一页</a>
            <a href="#" class="pager-action pager-next hide-text disabled">下一页</a>
        </span>
    </div>
</div>
<ul class="follow-list">
    <li data-id="9">
        <div class="box-left l">
            <a href="#" title="日常英语001" target="_blank">
                <div class="course-list-img">
                    <img src="/images/course1.jpg" width="200" height="123" alt="HTML+CSS基础课程">
                </div>
            </a>
        </div>
        <div class="box-right">
            <h3 class="box-hd">
                <span>日常英语001</span>
                <span class="span-new ">2016-01-09开始报名</span>
            </h3>
            <div class="study-points">
              <span class="span-left span-common">
                            授课方式:线下授课</span>
                <span class="span-mid span-common">适用年龄:20~30岁</span>
                <span class="span-right span-common">收费标准:1000¥/小时</span>
            </div>
            <div class="study-btm">
                <a href="#" class="beginstudy" data-title="1-1 内容简介" target="_blank">开始报名</a>
            </div>
        </div>
    </li>
    <li data-id="9">
        <div class="box-left l">
            <a href="#" title="日常英语002" target="_blank">
                <div class="course-list-img">
                    <img src="/images/course1.jpg" width="200" height="123" alt="HTML+CSS基础课程">
                </div>
            </a>
        </div>
        <div class="box-right">
            <h3 class="box-hd">
                <span>日常英语002</span>
                <span class="span-new ">2016-01-09开始报名</span>
            </h3>
            <div class="study-points">
              <span class="span-left span-common">
                            授课方式:线下授课</span>
                <span class="span-mid span-common">适用年龄:20~30岁</span>
                <span class="span-right span-common">收费标准:1000¥/小时</span>
            </div>
            <div class="study-btm">
                <a href="#" class="beginstudy" data-title="1-1 内容简介" target="_blank">开始报名</a>
            </div>
        </div>
    </li>
    <li data-id="9">
        <div class="box-left l">
            <a href="#" title="日常英语003" target="_blank">
                <div class="course-list-img">
                    <img src="/images/course1.jpg" width="200" height="123" alt="HTML+CSS基础课程">
                </div>
            </a>
        </div>
        <div class="box-right">
            <h3 class="box-hd">
                <span>日常英语003</span>
                <span class="span-new ">2016-01-09开始报名</span>
            </h3>
            <div class="study-points">
              <span class="span-left span-common">
                            授课方式:线下授课</span>
                <span class="span-mid span-common">适用年龄:20~30岁</span>
                <span class="span-right span-common">收费标准:1000¥/小时</span>
            </div>
            <div class="study-btm">
                <a href="#" class="beginstudy" data-title="1-1 内容简介" target="_blank">开始报名</a>
            </div>
        </div>
    </li>
    <li data-id="9">
        <div class="box-left l">
            <a href="#" title="日常英语004" target="_blank">
                <div class="course-list-img">
                    <img src="/images/course1.jpg" width="200" height="123" alt="HTML+CSS基础课程">
                </div>
            </a>
        </div>
        <div class="box-right">
            <h3 class="box-hd">
                <span>日常英语004</span>
                <span class="span-new ">2016-01-09开始报名</span>
            </h3>
            <div class="study-points">
              <span class="span-left span-common">
                            授课方式:线下授课</span>
                <span class="span-mid span-common">适用年龄:20~30岁</span>
                <span class="span-right span-common">收费标准:1000¥/小时</span>
            </div>
            <div class="study-btm">
                <a href="#" class="beginstudy" data-title="1-1 内容简介" target="_blank">开始报名</a>
            </div>
        </div>
    </li>
</ul>