<div class="row leftmargin animated fadeInRight page-content-home">
    <div class="row wrapper leftmargin border-bottom white-bg page-heading">
        <div class="col-lg-8 col-md-8">
            <div class="wrapper wrapper-content">
                <div class="row tab-content">
                    <ul class="nav nav-tabs">
                        <span class="pull-right small text-muted"></span>
                        <li class="active"><a data-toggle="tab" href="#home-manage-mycourse-calendar"><i class="fa fa-calendar"></i> 课程日历</a></li>
                        <li class=""><a data-toggle="tab" href="#home-manage-mycourse-info"><i class="fa fa-bell"></i>消息列表</a></li>
                        <li class=""><a data-toggle="tab" href="#home-manage-mycourse-today"><i class="fa fa-list-alt"></i>当日详情</a></li>
                    </ul>

                </div>
                <div class="row tab-content">
                    <div class="tab-pane active" id="home-manage-mycourse-calendar">
                        <div class="panel-body">
                            <div class="row" id="home-manage-act-calendar">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="home-manage-mycourse-info">
                        <div class="panel-body">
                            <div class="row" id="home-manage-act-info">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="home-manage-mycourse-today">
                        <div class="panel-body">
                            <div class="row" id="home-manage-act-today">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-4 col-md-4">
            <div class="ibox">
                <div class="ibox">
                    <div class="row" id="home-manage-act-right">
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
                                    <strong><p>可安排课程</p></strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="home-arrange-calendar" class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
                            <!--可安排课程-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="detail-container">
    </div>
</div>
