<div class="row leftmargin animated fadeInRight">
    <div class="row wrapper leftmargin border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>我的课程</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#home">主页</a>
                        </li>
                        <li class="active">
                            <strong>我的课程</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper wrapper-content">
                <div class="project-list">
                    <div class="row tab-content">
                        <div class="toolbar">
                            <ul class="nav nav-tabs">
                                <span class="pull-right small text-muted"></span>
                                <li id="mycourseinclass" class="my-course-nav-tab active" data-bind="act"><a data-toggle="tab" href="#my-course-mycourse-acting"><i class="fa fa-user"></i> 进行中</a></li>
                                <li id="mycourseinsign" class="my-course-nav-tab" data-bind="pub"><a data-toggle="tab" href="#my-course-mycourse-signed"><i class="fa fa-briefcase"></i> 已报名</a></li>
                                <li id="mycourseoverclass" class="my-course-nav-tab" data-bind="sellout"><a data-toggle="tab" href="#my-course-mycourse-end"><i class="fa fa-briefcase"></i> 已结束</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row tab-content">
                        <div class="tab-pane active" id="my-course-mycourse-acting">
                            <div class="panel-body">
                                <div class="row" id="my_course_act_tab">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="my-course-mycourse-signed">
                            <div class="panel-body">
                                <div class="row" id="my_course_signed_tab">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="my-course-mycourse-end">
                            <div class="panel-body">
                                <div class="row" id="my_course_end_tab">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
