<div class="row leftmargin animated fadeInRight">
    <div class="row wrapper leftmargin border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>我的作业</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#home">主页</a>
                        </li>
                        <li class="active">
                            <strong>我的作业</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper wrapper-content">
                <div class="project-list">
                    <div class="row tab-content">
                        <div class="toolbar">
                            <ul class="nav nav-tabs">
                                <span class="pull-right small text-muted"></span>
                                <li class="my-homework-nav-tab active" data-bind="acting"><a data-toggle="tab" href="#myhomework-homework-acting"><i class="fa fa-user"></i> 进行中</a></li>
                                <li class="my-homework-nav-tab" data-bind="pushed"><a data-toggle="tab" href="#myhomework-homework-pushed"><i class="fa fa-briefcase"></i> 已提交</a></li>
                                <li class="my-homework-nav-tab" data-bind="checked"><a data-toggle="tab" href="#myhomework-homework-checked"><i class="fa fa-briefcase"></i> 已批阅</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row tab-content">
                        <div class="tab-pane active" id="myhomework-homework-acting">
                            <div class="panel-body">
                                <div class="row" id="myhomework-homework-acting-tab">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="myhomework-homework-pushed">
                            <div class="panel-body">
                                <div class="row" id="myhomework-homework-pushed-tab">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="myhomework-homework-checked">
                            <div class="panel-body">
                                <div class="row" id="myhomework-homework-checked-tab">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
