<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <table id="sth-unchecked-field" class="footable table table-stripped toggle-arrow-tiny">
                <thead>
                <tr>
                    <th>学生编号</th>
                    <th data-toggle="true">学生姓名</th>
                    <th>作业名称</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>000000</td>
                    <td>Patrick</td>
                    <td>物理</td>
                    <td>
                        <button  class="sth-check-pencil-tab btn btn-xs btn-primary" type="button"><i  class="fa fa-pencil"></i> 批改</button>
                    </td>
                </tr>
                <tr>
                    <td>000001</td>
                    <td>Jordan</td>
                    <td>数学</td>
                    <td>
                        <div>
                            <button  class="sth-check-pencil-tab btn btn-xs btn-primary" type="button"><i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>000002</td>
                    <td>sun</td>
                    <td>英语</td>
                    <td>
                        <div>
                            <button  class="sth-check-pencil-tab btn btn-xs btn-primary" type="button"><i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>000003</td>
                    <td>Jackson</td>
                    <td>法语</td>
                    <td>
                        <div>
                            <button class="sth-check-pencil-tab btn btn-xs btn-primary" type="button"><i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>000004</td>
                    <td>sun</td>
                    <td>英语</td>
                    <td>
                        <div>
                            <button  class="sth-check-pencil-tab btn btn-xs btn-primary" type="button"><i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>000005</td>
                    <td>Jackson</td>
                    <td>法语</td>
                    <td>
                        <div>
                            <button  class="sth-check-pencil-tab btn btn-xs btn-primary" type="button"><i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>000006</td>
                    <td>Patrick</td>
                    <td>物理</td>
                    <td>
                        <div>
                            <button  class="sth-check-pencil-tab btn btn-xs btn-primary" type="button"><i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>000007</td>
                    <td>Jordan</td>
                    <td>数学</td>
                    <td>
                        <div>
                            <button  class="sth-check-pencil-tab btn btn-xs btn-primary" type="button"><i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>000008</td>
                    <td>sun</td>
                    <td>英语</td>
                    <td>
                        <div>
                            <button  class="sth-check-pencil-tab btn btn-xs btn-primary" type="button">
                                <i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>000009</td>
                    <td>Jackson</td>
                    <td>法语</td>
                    <td>
                        <div>
                            <button  class="sth-check-pencil-tab btn btn-xs btn-primary" type="button">
                                <i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>000010</td>
                    <td>Patrick</td>
                    <td>物理</td>
                    <td>
                        <div>
                            <button class="sth-check-pencil-tab btn btn-xs btn-primary" type="button">
                                <i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>000011</td>
                    <td>sun</td>
                    <td>英语</td>
                    <td>
                        <div>
                            <button  class="sth-check-pencil-tab btn btn-xs btn-primary" type="button">
                                <i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>000012</td>
                    <td>Jackson</td>
                    <td>法语</td>
                    <td>
                        <div>
                            <button  class="sth-check-pencil-tab btn btn-xs btn-primary" type="button">
                                <i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>000013</td>
                    <td>Patrick</td>
                    <td>物理</td>
                    <td>
                        <div>
                            <button  class="sth-check-pencil-tab btn btn-xs btn-primary" type="button">
                                <i  class="fa fa-pencil"></i> 批改</button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <ul class="pagination pull-right"></ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
