<html>
<head>
    <title>${title}</title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
</head>
<body>
<% include ../includes/header/nav/normal.ejs %>

<% include ../includes/footer/normal.ejs %>
</body>
</html>