<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../includes/head/searchthead1.ejs %>
    <title>B&C Planform</title>

    <link rel="stylesheet" href="/stylesheets/teachers.css">

</head>
<body class="pace-done">

<% include ../includes/header/nav/normal.ejs %>

<div id="condition-view" class="container page-wrapper-search">

</div>

<div id="result-view" class="container page-wrapper-result">

</div>


<% include ../includes/footer/normal.ejs %>

<% include ../includes/head/searchthead2.ejs %>

</body>

<script src="/requirejs/require.js" data-main="/app/searchc/searchcmain.js"></script>
</html>
